.vscode
/spikes/fhir-facade/appsettings.json
/.vs/data-exchange-fhir/v17
/.vs
/spikes/Logging/.vs
/spikes/Logging/Logging/.vs
/spikes/Logging/Logging/bin/Debug/net8.0
/spikes/Logging/Logging/obj/Debug/net8.0
/spikes/Logging/Logging/obj
/spikes/SyntheaCreateLargeFiles/.vs
/spikes/SyntheaCreateLargeFiles/SyntheaCreateLargeFiles/bin/Debug/net8.0
/spikes/SyntheaCreateLargeFiles/SyntheaCreateLargeFiles/EICR
/spikes/SyntheaCreateLargeFiles/SyntheaCreateLargeFiles/LargeFiles
/spikes/SyntheaCreateLargeFiles/SyntheaCreateLargeFiles/obj
/spikes/SyntheaCreateLargeFiles/SyntheaCreateLargeFiles/LargeFiles.zip
