################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/data-exchange-fhir/FileContentIndex/fa454708-6f16-4bca-9097-9e4401262fee.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/data-exchange-fhir/v17/.wsuo
/.vs/data-exchange-fhir/v17/DocumentLayout.backup.json
/.vs/data-exchange-fhir/v17/DocumentLayout.json
