openapi: 3.0.1
info:
  title: Azure FHIR  APIs
  description: Azure Healthcare APIs
  version: '1.0'
servers:
  - url: https://ocio-api-tst-fhir.azure-api.net
paths:
  /metadata:
    get:
      summary: Get conformance statement.
      description: Get conformance statement.
      operationId: get-metadata
      tags:
        - FHIR Operation
      responses:
        '200':
          description: Success
          content:
            application/json: { }
  /'$process-message':
    post:
      summary: Post a message bundle for processing.
      description: This operation accepts a message, processes it according to the definition of the event in the message header, and returns one or more response messages. (NOTE) Currently only Medmorph Message bundles are supported.
      operationId: process-message
      tags:
        - FHIR Operation
      responses:
        '201':
          description: Success, validated, and ingested
          content:
            application/json: { }
                  responses:
        '422':
          description: Failure, validation failed, and not ingested
          content:
            application/json: { }
  /Account:
    get:
      summary: /Account - GET
      operationId: get-account
      tags:
        - FHIR Resource
      parameters:
        - name: name
          in: query
          description: Human-readable label
          schema:
            type: string
        - name: subject
          in: query
          description: The entity that caused the expenses
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: identifier
          in: query
          description: Account number
          schema:
            type: string
        - name: patient
          in: query
          description: The entity that caused the expenses
          schema:
            type: string
        - name: period
          in: query
          description: Format - date (as full-date in RFC3339). Transaction window
          schema:
            type: string
            format: date
        - name: owner
          in: query
          description: Entity managing the Account
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: type
          in: query
          description: 'E.g. patient, expense, depreciation'
          schema:
            type: string
        - name: status
          in: query
          description: active | inactive | entered-in-error | on-hold | unknown
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /Account - POST
      operationId: post-account
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Account/{id}':
    get:
      summary: '/Account/{id} - GET'
      operationId: get-account-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/Account/{id} - PUT'
      operationId: put-account-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/Account/{id} - DELETE'
      operationId: delete-account-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Account/{id}/_history/{vid}':
    get:
      summary: '/Account/{id}/_history/{vid} - GET'
      operationId: get-account-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Account/{id}/_history':
    get:
      summary: '/Account/{id}/_history - GET'
      operationId: get-account-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Account/_history:
    get:
      summary: /Account/_history - GET
      operationId: get-account-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /ActivityDefinition:
    get:
      summary: /ActivityDefinition - GET
      operationId: get-activitydefinition
      tags:
        - FHIR Resource
      parameters:
        - name: url
          in: query
          description: The uri that identifies the activity definition
          schema:
            type: string
        - name: name
          in: query
          description: Computationally friendly name of the activity definition
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: version
          in: query
          description: The business version of the activity definition
          schema:
            type: string
        - name: effective
          in: query
          description: Format - date (as full-date in RFC3339). The time during which the activity definition is intended to be in use
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: External identifier for the activity definition
          schema:
            type: string
        - name: context-quantity
          in: query
          description: A quantity- or range-valued use context assigned to the activity definition
          schema:
            type: string
        - name: title
          in: query
          description: The human-friendly name of the activity definition
          schema:
            type: string
        - name: jurisdiction
          in: query
          description: Intended jurisdiction for the activity definition
          schema:
            type: string
        - name: date
          in: query
          description: Format - date (as full-date in RFC3339). The activity definition publication date
          schema:
            type: string
            format: date
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: context-type-value
          in: query
          description: A use context type and value assigned to the activity definition
          schema:
            type: string
        - name: description
          in: query
          description: The description of the activity definition
          schema:
            type: string
        - name: context-type
          in: query
          description: A type of use context assigned to the activity definition
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: status
          in: query
          description: The current status of the activity definition
          schema:
            type: string
        - name: context-type-quantity
          in: query
          description: A use context type and quantity- or range-based value assigned to the activity definition
          schema:
            type: string
        - name: publisher
          in: query
          description: Name of the publisher of the activity definition
          schema:
            type: string
        - name: topic
          in: query
          description: Topics associated with the module
          schema:
            type: string
        - name: context
          in: query
          description: A use context assigned to the activity definition
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /ActivityDefinition - POST
      operationId: post-activitydefinition
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/ActivityDefinition/{id}':
    get:
      summary: '/ActivityDefinition/{id} - GET'
      operationId: get-activitydefinition-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/ActivityDefinition/{id} - PUT'
      operationId: put-activitydefinition-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/ActivityDefinition/{id} - DELETE'
      operationId: delete-activitydefinition-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/ActivityDefinition/{id}/_history/{vid}':
    get:
      summary: '/ActivityDefinition/{id}/_history/{vid} - GET'
      operationId: get-activitydefinition-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/ActivityDefinition/{id}/_history':
    get:
      summary: '/ActivityDefinition/{id}/_history - GET'
      operationId: get-activitydefinition-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /ActivityDefinition/_history:
    get:
      summary: /ActivityDefinition/_history - GET
      operationId: get-activitydefinition-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AdverseEvent:
    get:
      summary: /AdverseEvent - GET
      operationId: get-adverseevent
      tags:
        - FHIR Resource
      parameters:
        - name: study
          in: query
          description: AdverseEvent.study
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the adverse event
          schema:
            type: string
        - name: subject
          in: query
          description: Subject impacted by event
          schema:
            type: string
        - name: seriousness
          in: query
          description: Seriousness of the event
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: category
          in: query
          description: product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe
          schema:
            type: string
        - name: actuality
          in: query
          description: actual | potential
          schema:
            type: string
        - name: date
          in: query
          description: Format - date (as full-date in RFC3339). When the event occurred
          schema:
            type: string
            format: date
        - name: resultingcondition
          in: query
          description: Effect on the subject due to this event
          schema:
            type: string
        - name: location
          in: query
          description: Location where adverse event occurred
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: substance
          in: query
          description: Refers to the specific entity that caused the adverse event
          schema:
            type: string
        - name: event
          in: query
          description: Type of the event itself in relation to the subject
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /AdverseEvent - POST
      operationId: post-adverseevent
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/AdverseEvent/{id}':
    get:
      summary: '/AdverseEvent/{id} - GET'
      operationId: get-adverseevent-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/AdverseEvent/{id} - PUT'
      operationId: put-adverseevent-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/AdverseEvent/{id} - DELETE'
      operationId: delete-adverseevent-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AdverseEvent/{id}/_history/{vid}':
    get:
      summary: '/AdverseEvent/{id}/_history/{vid} - GET'
      operationId: get-adverseevent-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AdverseEvent/{id}/_history':
    get:
      summary: '/AdverseEvent/{id}/_history - GET'
      operationId: get-adverseevent-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AdverseEvent/_history:
    get:
      summary: /AdverseEvent/_history - GET
      operationId: get-adverseevent-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AllergyIntolerance:
    get:
      summary: /AllergyIntolerance - GET
      operationId: get-allergyintolerance
      tags:
        - FHIR Resource
      parameters:
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: onset
          in: query
          description: Format - date (as full-date in RFC3339). Date(/time) when manifestations showed
          schema:
            type: string
            format: date
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | biologic
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): External ids for this item\r\n* [CarePlan](careplan.html): External Ids for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\n* [Composition](composition.html): Version-independent identifier for the Composition\r\n* [Condition](condition.html): A unique identifier of the condition record\r\n* [Consent](consent.html): Identifier for this record (external references)\r\n* [DetectedIssue](detectedissue.html): Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html): Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html): An identifier for the report\r\n* [DocumentManifest](documentmanifest.html): Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html): Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s) by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html): Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html): A search by a record identifier\r\n* [Goal](goal.html): External Ids for this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html): Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html): Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html): Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this external identifier\r\n* [Observation](observation.html): The unique id for a particular observation\r\n* [Procedure](procedure.html): A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html): Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html): Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html): External identifier\r\n* [SupplyRequest](supplyrequest.html): Business Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html): Return prescriptions with this external identifier"
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: patient
          in: query
          description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n* [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\n* [Composition](composition.html): Who and/or what the composition is about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html): Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated patient\r\n* [DeviceRequest](devicerequest.html): Individual the service is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html): The subject of the set of documents\r\n* [DocumentReference](documentreference.html): Who/what is the subject of the document\r\n* [Encounter](encounter.html): The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for\r\n* [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html): Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html): Who the study is about\r\n* [Immunization](immunization.html): The patient for the vaccination record\r\n* [List](list.html): If all resources have the same subject\r\n* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement\r\n* [Observation](observation.html): The subject that the observation is about (if patient)\r\n* [Procedure](procedure.html): Search by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?\r\n* [ServiceRequest](servicerequest.html): Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for"
          schema:
            type: string
        - name: clinical-status
          in: query
          description: active | inactive | resolved
          schema:
            type: string
        - name: date
          in: query
          description: "Format - date (as full-date in RFC3339). Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Date first version of the resource instance was recorded\r\n* [CarePlan](careplan.html): Time period plan covers\r\n* [CareTeam](careteam.html): Time period team covers\r\n* [ClinicalImpression](clinicalimpression.html): When the assessment was documented\r\n* [Composition](composition.html): Composition editing time\r\n* [Consent](consent.html): When this Consent was created or indexed\r\n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time of the report\r\n* [Encounter](encounter.html): A date within the period the Encounter lasted\r\n* [EpisodeOfCare](episodeofcare.html): The provided date search value falls within the episode of care's period\r\n* [FamilyMemberHistory](familymemberhistory.html): When history was recorded or last updated\r\n* [Flag](flag.html): Time period when flag is active\r\n* [Immunization](immunization.html): Vaccination  (non)-Administration Date\r\n* [List](list.html): When the list was prepared\r\n* [Observation](observation.html): Obtained date/time. If the obtained element is a period, a date that falls in the period\r\n* [Procedure](procedure.html): When the procedure was performed\r\n* [RiskAssessment](riskassessment.html): When was assessment made?\r\n* [SupplyRequest](supplyrequest.html): When the request was made"
          schema:
            type: string
            format: date
        - name: verification-status
          in: query
          description: unconfirmed | confirmed | refuted | entered-in-error
          schema:
            type: string
        - name: code
          in: query
          description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance\r\n* [Condition](condition.html): Code for the condition\r\n* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered\r\n* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result\r\n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code\r\n* [List](list.html): What the purpose of this list is\r\n* [Medication](medication.html): Returns medications for a specific code\r\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code\r\n* [MedicationStatement](medicationstatement.html): Return statements of this medication code\r\n* [Observation](observation.html): The code of the observation type\r\n* [Procedure](procedure.html): A code to identify a  procedure\r\n* [ServiceRequest](servicerequest.html): What is being requested/ordered"
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: asserter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: last-date
          in: query
          description: Format - date (as full-date in RFC3339). Date(/time) of last known occurrence of a reaction
          schema:
            type: string
            format: date
        - name: type
          in: query
          description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): allergy | intolerance - Underlying mechanism (if known)\r\n* [Composition](composition.html): Kind of composition (LOINC if possible)\r\n* [DocumentManifest](documentmanifest.html): Kind of document set\r\n* [DocumentReference](documentreference.html): Kind of document (LOINC if possible)\r\n* [Encounter](encounter.html): Specific type of encounter\r\n* [EpisodeOfCare](episodeofcare.html): Type/class  - e.g. specialist referral, disease management"
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /AllergyIntolerance - POST
      operationId: post-allergyintolerance
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/AllergyIntolerance/{id}':
    get:
      summary: '/AllergyIntolerance/{id} - GET'
      operationId: get-allergyintolerance-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/AllergyIntolerance/{id} - PUT'
      operationId: put-allergyintolerance-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/AllergyIntolerance/{id} - DELETE'
      operationId: delete-allergyintolerance-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AllergyIntolerance/{id}/_history/{vid}':
    get:
      summary: '/AllergyIntolerance/{id}/_history/{vid} - GET'
      operationId: get-allergyintolerance-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AllergyIntolerance/{id}/_history':
    get:
      summary: '/AllergyIntolerance/{id}/_history - GET'
      operationId: get-allergyintolerance-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AllergyIntolerance/_history:
    get:
      summary: /AllergyIntolerance/_history - GET
      operationId: get-allergyintolerance-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Appointment:
    get:
      summary: /Appointment - GET
      operationId: get-appointment
      tags:
        - FHIR Resource
      parameters:
        - name: slot
          in: query
          description: The slots that this appointment is filling
          schema:
            type: string
        - name: supporting-info
          in: query
          description: Additional information to support the appointment
          schema:
            type: string
        - name: service-type
          in: query
          description: The specific service that is to be performed during this appointment
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: service-category
          in: query
          description: A broad categorization of the service that is to be performed during this appointment
          schema:
            type: string
        - name: identifier
          in: query
          description: An Identifier of the Appointment
          schema:
            type: string
        - name: based-on
          in: query
          description: The service request this appointment is allocated to assess
          schema:
            type: string
        - name: patient
          in: query
          description: One of the individuals of the appointment is this patient
          schema:
            type: string
        - name: actor
          in: query
          description: Any one of the individuals participating in the appointment
          schema:
            type: string
        - name: date
          in: query
          description: Format - date (as full-date in RFC3339). Appointment date/time.
          schema:
            type: string
            format: date
        - name: reason-reference
          in: query
          description: Reason the appointment is to take place (resource)
          schema:
            type: string
        - name: practitioner
          in: query
          description: One of the individuals of the appointment is this practitioner
          schema:
            type: string
        - name: location
          in: query
          description: This location is listed in the participants of the appointment
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: specialty
          in: query
          description: The specialty of a practitioner that would be required to perform the service requested in this appointment
          schema:
            type: string
        - name: status
          in: query
          description: The overall status of the appointment
          schema:
            type: string
        - name: reason-code
          in: query
          description: Coded reason this appointment is scheduled
          schema:
            type: string
        - name: part-status
          in: query
          description: 'The Participation status of the subject, or other participant on the appointment. Can be used to locate participants that have not responded to meeting requests.'
          schema:
            type: string
        - name: appointment-type
          in: query
          description: The style of appointment or patient that has been booked in the slot (not service type)
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /Appointment - POST
      operationId: post-appointment
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Appointment/{id}':
    get:
      summary: '/Appointment/{id} - GET'
      operationId: get-appointment-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/Appointment/{id} - PUT'
      operationId: put-appointment-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/Appointment/{id} - DELETE'
      operationId: delete-appointment-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Appointment/{id}/_history/{vid}':
    get:
      summary: '/Appointment/{id}/_history/{vid} - GET'
      operationId: get-appointment-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Appointment/{id}/_history':
    get:
      summary: '/Appointment/{id}/_history - GET'
      operationId: get-appointment-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Appointment/_history:
    get:
      summary: /Appointment/_history - GET
      operationId: get-appointment-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AppointmentResponse:
    get:
      summary: /AppointmentResponse - GET
      operationId: get-appointmentresponse
      tags:
        - FHIR Resource
      parameters:
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: An Identifier in this appointment response
          schema:
            type: string
        - name: appointment
          in: query
          description: The appointment that the response is attached to
          schema:
            type: string
        - name: patient
          in: query
          description: This Response is for this Patient
          schema:
            type: string
        - name: actor
          in: query
          description: 'The Person, Location/HealthcareService or Device that this appointment response replies for'
          schema:
            type: string
        - name: practitioner
          in: query
          description: This Response is for this Practitioner
          schema:
            type: string
        - name: location
          in: query
          description: This Response is for this Location
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: part-status
          in: query
          description: The participants acceptance status for this appointment
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /AppointmentResponse - POST
      operationId: post-appointmentresponse
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/AppointmentResponse/{id}':
    get:
      summary: '/AppointmentResponse/{id} - GET'
      operationId: get-appointmentresponse-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/AppointmentResponse/{id} - PUT'
      operationId: put-appointmentresponse-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/AppointmentResponse/{id} - DELETE'
      operationId: delete-appointmentresponse-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AppointmentResponse/{id}/_history/{vid}':
    get:
      summary: '/AppointmentResponse/{id}/_history/{vid} - GET'
      operationId: get-appointmentresponse-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AppointmentResponse/{id}/_history':
    get:
      summary: '/AppointmentResponse/{id}/_history - GET'
      operationId: get-appointmentresponse-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AppointmentResponse/_history:
    get:
      summary: /AppointmentResponse/_history - GET
      operationId: get-appointmentresponse-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AuditEvent:
    get:
      summary: /AuditEvent - GET
      operationId: get-auditevent
      tags:
        - FHIR Resource
      parameters:
        - name: source
          in: query
          description: The identity of source detecting the event
          schema:
            type: string
        - name: agent-role
          in: query
          description: Agent role in the event
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: entity-role
          in: query
          description: What role the entity played
          schema:
            type: string
        - name: altid
          in: query
          description: Alternative User identity
          schema:
            type: string
        - name: action
          in: query
          description: Type of action performed during the event
          schema:
            type: string
        - name: outcome
          in: query
          description: Whether the event succeeded or failed
          schema:
            type: string
        - name: agent-name
          in: query
          description: Human friendly name for the agent
          schema:
            type: string
        - name: patient
          in: query
          description: Identifier of who
          schema:
            type: string
        - name: entity-name
          in: query
          description: Descriptor for entity
          schema:
            type: string
        - name: agent
          in: query
          description: Identifier of who
          schema:
            type: string
        - name: address
          in: query
          description: Identifier for the network access point of the user device
          schema:
            type: string
        - name: date
          in: query
          description: Format - date (as full-date in RFC3339). Time when the event was recorded
          schema:
            type: string
            format: date
        - name: entity-type
          in: query
          description: Type of entity involved
          schema:
            type: string
        - name: subtype
          in: query
          description: More specific type/id for the event
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: policy
          in: query
          description: Policy that authorized event
          schema:
            type: string
        - name: site
          in: query
          description: Logical source location within the enterprise
          schema:
            type: string
        - name: entity
          in: query
          description: Specific instance of resource
          schema:
            type: string
        - name: type
          in: query
          description: Type/identifier of event
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /AuditEvent - POST
      operationId: post-auditevent
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/AuditEvent/{id}':
    get:
      summary: '/AuditEvent/{id} - GET'
      operationId: get-auditevent-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AuditEvent/{id}/_history/{vid}':
    get:
      summary: '/AuditEvent/{id}/_history/{vid} - GET'
      operationId: get-auditevent-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/AuditEvent/{id}/_history':
    get:
      summary: '/AuditEvent/{id}/_history - GET'
      operationId: get-auditevent-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /AuditEvent/_history:
    get:
      summary: /AuditEvent/_history - GET
      operationId: get-auditevent-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Basic:
    get:
      summary: /Basic - GET
      operationId: get-basic
      tags:
        - FHIR Resource
      parameters:
        - name: subject
          in: query
          description: Identifies the focus of this resource
          schema:
            type: string
        - name: created
          in: query
          description: Format - date (as full-date in RFC3339). When created
          schema:
            type: string
            format: date
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: author
          in: query
          description: Who created
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: Business identifier
          schema:
            type: string
        - name: patient
          in: query
          description: Identifies the focus of this resource
          schema:
            type: string
        - name: code
          in: query
          description: Kind of Resource
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /Basic - POST
      operationId: post-basic
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Basic/{id}':
    get:
      summary: '/Basic/{id} - GET'
      operationId: get-basic-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/Basic/{id} - PUT'
      operationId: put-basic-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/Basic/{id} - DELETE'
      operationId: delete-basic-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Basic/{id}/_history/{vid}':
    get:
      summary: '/Basic/{id}/_history/{vid} - GET'
      operationId: get-basic-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Basic/{id}/_history':
    get:
      summary: '/Basic/{id}/_history - GET'
      operationId: get-basic-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Basic/_history:
    get:
      summary: /Basic/_history - GET
      operationId: get-basic-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Binary:
    get:
      summary: /Binary - GET
      operationId: get-binary
      tags:
        - FHIR Resource
      parameters:
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /Binary - POST
      operationId: post-binary
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Binary/{id}':
    get:
      summary: '/Binary/{id} - GET'
      operationId: get-binary-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/Binary/{id} - PUT'
      operationId: put-binary-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/Binary/{id} - DELETE'
      operationId: delete-binary-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Binary/{id}/_history/{vid}':
    get:
      summary: '/Binary/{id}/_history/{vid} - GET'
      operationId: get-binary-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Binary/{id}/_history':
    get:
      summary: '/Binary/{id}/_history - GET'
      operationId: get-binary-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Binary/_history:
    get:
      summary: /Binary/_history - GET
      operationId: get-binary-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /BiologicallyDerivedProduct:
    get:
      summary: /BiologicallyDerivedProduct - GET
      operationId: get-biologicallyderivedproduct
      tags:
        - FHIR Resource
      parameters:
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /BiologicallyDerivedProduct - POST
      operationId: post-biologicallyderivedproduct
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/BiologicallyDerivedProduct/{id}':
    get:
      summary: '/BiologicallyDerivedProduct/{id} - GET'
      operationId: get-biologicallyderivedproduct-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/BiologicallyDerivedProduct/{id} - PUT'
      operationId: put-biologicallyderivedproduct-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/BiologicallyDerivedProduct/{id} - DELETE'
      operationId: delete-biologicallyderivedproduct-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/BiologicallyDerivedProduct/{id}/_history/{vid}':
    get:
      summary: '/BiologicallyDerivedProduct/{id}/_history/{vid} - GET'
      operationId: get-biologicallyderivedproduct-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/BiologicallyDerivedProduct/{id}/_history':
    get:
      summary: '/BiologicallyDerivedProduct/{id}/_history - GET'
      operationId: get-biologicallyderivedproduct-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /BiologicallyDerivedProduct/_history:
    get:
      summary: /BiologicallyDerivedProduct/_history - GET
      operationId: get-biologicallyderivedproduct-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /BodyStructure:
    get:
      summary: /BodyStructure - GET
      operationId: get-bodystructure
      tags:
        - FHIR Resource
      parameters:
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: Bodystructure identifier
          schema:
            type: string
        - name: morphology
          in: query
          description: Kind of Structure
          schema:
            type: string
        - name: patient
          in: query
          description: Who this is about
          schema:
            type: string
        - name: location
          in: query
          description: Body site
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /BodyStructure - POST
      operationId: post-bodystructure
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/BodyStructure/{id}':
    get:
      summary: '/BodyStructure/{id} - GET'
      operationId: get-bodystructure-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/BodyStructure/{id} - PUT'
      operationId: put-bodystructure-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/BodyStructure/{id} - DELETE'
      operationId: delete-bodystructure-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/BodyStructure/{id}/_history/{vid}':
    get:
      summary: '/BodyStructure/{id}/_history/{vid} - GET'
      operationId: get-bodystructure-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/BodyStructure/{id}/_history':
    get:
      summary: '/BodyStructure/{id}/_history - GET'
      operationId: get-bodystructure-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /BodyStructure/_history:
    get:
      summary: /BodyStructure/_history - GET
      operationId: get-bodystructure-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Bundle:
    get:
      summary: /Bundle - GET
      operationId: get-bundle
      tags:
        - FHIR Resource
      parameters:
        - name: timestamp
          in: query
          description: Format - date (as full-date in RFC3339). When the bundle was assembled
          schema:
            type: string
            format: date
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: identifier
          in: query
          description: Persistent identifier for the bundle
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: Format - date (as full-date in RFC3339). When the resource version last changed
          schema:
            type: string
            format: date
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: type
          in: query
          description: document | message | transaction | transaction-response | batch | batch-response | history | searchset | collection
          schema:
            type: string
        - name: _format
          in: query
          description: Output formatting
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      summary: /Bundle - POST
      operationId: post-bundle
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Bundle/$validate':
    post:
      summary: /Bundle - POST
      operationId: post-bundle-validate
      tags:
        - FHIR Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
  '/Bundle/{id}':
    get:
      summary: '/Bundle/{id} - GET'
      operationId: get-bundle-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      summary: '/Bundle/{id} - PUT'
      operationId: put-bundle-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: Success
    delete:
      summary: '/Bundle/{id} - DELETE'
      operationId: delete-bundle-id
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Bundle/{id}/_history/{vid}':
    get:
      summary: '/Bundle/{id}/_history/{vid} - GET'
      operationId: get-bundle-id-_history-vid
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: vid
          in: path
          description: version id of resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/Bundle/{id}/_history':
    get:
      summary: '/Bundle/{id}/_history - GET'
      operationId: get-bundle-id-_history
      tags:
        - FHIR Resource
      parameters:
        - name: id
          in: path
          description: id of resource
          required: true
          schema:
            type: string
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /Bundle/_history:
    get:
      summary: /Bundle/_history - GET
      operationId: get-bundle-_history
      tags:
        - FHIR Resource
      parameters:
        - name: _count
          in: query
          description: number to return
          schema:
            type: string
        - name: _since
          in: query
          description: how far back
          schema:
            type: string
      responses:
        '200':
          description: Success
  /CapabilityStatement:
    get:
      summary: /CapabilityStatement - GET
      operationId: get-capabilitystatement
      tags:
        - FHIR Resource
      parameters:
        - name: description
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The description of the capability statement\r\n* [CodeSystem](codesystem.html): The description of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The description of the compartment definition\r\n* [ConceptMap](conceptmap.html): The description of the concept map\r\n* [GraphDefinition](graphdefinition.html): The description of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The description of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The description of the message definition\r\n* [NamingSystem](namingsystem.html): The description of the naming system\r\n* [OperationDefinition](operationdefinition.html): The description of the operation definition\r\n* [SearchParameter](searchparameter.html): The description of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The description of the structure definition\r\n* [StructureMap](structuremap.html): The description of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The description of the terminology capabilities\r\n* [ValueSet](valueset.html): The description of the value set"
          schema:
            type: string
        - name: context-quantity
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A quantity- or range-valued use context assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A quantity- or range-valued use context assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A quantity- or range-valued use context assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A quantity- or range-valued use context assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A quantity- or range-valued use context assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A quantity- or range-valued use context assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A quantity- or range-valued use context assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A quantity- or range-valued use context assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A quantity- or range-valued use context assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A quantity- or range-valued use context assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A quantity- or range-valued use context assigned to the structure definition\r\n* [StructureMap](structuremap.html): A quantity- or range-valued use context assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A quantity- or range-valued use context assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A quantity- or range-valued use context assigned to the value set"
          schema:
            type: string
        - name: _security
          in: query
          description: Security Labels applied to this resource
          schema:
            type: string
        - name: title
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The human-friendly name of the capability statement\r\n* [CodeSystem](codesystem.html): The human-friendly name of the code system\r\n* [ConceptMap](conceptmap.html): The human-friendly name of the concept map\r\n* [ImplementationGuide](implementationguide.html): The human-friendly name of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The human-friendly name of the message definition\r\n* [OperationDefinition](operationdefinition.html): The human-friendly name of the operation definition\r\n* [StructureDefinition](structuredefinition.html): The human-friendly name of the structure definition\r\n* [StructureMap](structuremap.html): The human-friendly name of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The human-friendly name of the terminology capabilities\r\n* [ValueSet](valueset.html): The human-friendly name of the value set"
          schema:
            type: string
        - name: software
          in: query
          description: Part of the name of a software application
          schema:
            type: string
        - name: name
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): Computationally friendly name of the capability statement\r\n* [CodeSystem](codesystem.html): Computationally friendly name of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): Computationally friendly name of the compartment definition\r\n* [ConceptMap](conceptmap.html): Computationally friendly name of the concept map\r\n* [GraphDefinition](graphdefinition.html): Computationally friendly name of the graph definition\r\n* [ImplementationGuide](implementationguide.html): Computationally friendly name of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): Computationally friendly name of the message definition\r\n* [NamingSystem](namingsystem.html): Computationally friendly name of the naming system\r\n* [OperationDefinition](operationdefinition.html): Computationally friendly name of the operation definition\r\n* [SearchParameter](searchparameter.html): Computationally friendly name of the search parameter\r\n* [StructureDefinition](structuredefinition.html): Computationally friendly name of the structure definition\r\n* [StructureMap](structuremap.html): Computationally friendly name of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): Computationally friendly name of the terminology capabilities\r\n* [ValueSet](valueset.html): Computationally friendly name of the value set"
          schema:
            type: string
        - name: status
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The current status of the capability statement\r\n* [CodeSystem](codesystem.html): The current status of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The current status of the compartment definition\r\n* [ConceptMap](conceptmap.html): The current status of the concept map\r\n* [GraphDefinition](graphdefinition.html): The current status of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The current status of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The current status of the message definition\r\n* [NamingSystem](namingsystem.html): The current status of the naming system\r\n* [OperationDefinition](operationdefinition.html): The current status of the operation definition\r\n* [SearchParameter](searchparameter.html): The current status of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The current status of the structure definition\r\n* [StructureMap](structuremap.html): The current status of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The current status of the terminology capabilities\r\n* [ValueSet](valueset.html): The current status of the value set"
          schema:
            type: string
        - name: version
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The business version of the capability statement\r\n* [CodeSystem](codesystem.html): The business version of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The business version of the compartment definition\r\n* [ConceptMap](conceptmap.html): The business version of the concept map\r\n* [GraphDefinition](graphdefinition.html): The business version of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The business version of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The business version of the message definition\r\n* [OperationDefinition](operationdefinition.html): The business version of the operation definition\r\n* [SearchParameter](searchparameter.html): The business version of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The business version of the structure definition\r\n* [StructureMap](structuremap.html): The business version of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The business version of the terminology capabilities\r\n* [ValueSet](valueset.html): The business version of the value set"
          schema:
            type: string
        - name: _id
          in: query
          description: Logical id of this artifact
          schema:
            type: string
        - name: date
          in: query
          description: "Format - date (as full-date in RFC3339). Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The capability statement publication date\r\n* [CodeSystem](codesystem.html): The code system publication date\r\n* [CompartmentDefinition](compartmentdefinition.html): The compartment definition publication date\r\n* [ConceptMap](conceptmap.html): The concept map publication date\r\n* [GraphDefinition](graphdefinition.html): The graph definition publication date\r\n* [ImplementationGuide](implementationguide.html): The implementation guide publication date\r\n* [MessageDefinition](messagedefinition.html): The message definition publication date\r\n* [NamingSystem](namingsystem.html): The naming system publication date\r\n* [OperationDefinition](operationdefinition.html): The operation definition publication date\r\n* [SearchParameter](searchparameter.html): The search parameter publication date\r\n* [StructureDefinition](structuredefinition.html): The structure definition publication date\r\n* [StructureMap](structuremap.html): The structure map publication date\r\n* [TerminologyCapabilities](terminologycapabilities.html): The terminology capabilities publication date\r\n* [ValueSet](valueset.html): The value set publication date"
          schema:
            type: string
            format: date
        - name: publisher
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): Name of the publisher of the capability statement\r\n* [CodeSystem](codesystem.html): Name of the publisher of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): Name of the publisher of the compartment definition\r\n* [ConceptMap](conceptmap.html): Name of the publisher of the concept map\r\n* [GraphDefinition](graphdefinition.html): Name of the publisher of the graph definition\r\n* [ImplementationGuide](implementationguide.html): Name of the publisher of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): Name of the publisher of the message definition\r\n* [NamingSystem](namingsystem.html): Name of the publisher of the naming system\r\n* [OperationDefinition](operationdefinition.html): Name of the publisher of the operation definition\r\n* [SearchParameter](searchparameter.html): Name of the publisher of the search parameter\r\n* [StructureDefinition](structuredefinition.html): Name of the publisher of the structure definition\r\n* [StructureMap](structuremap.html): Name of the publisher of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): Name of the publisher of the terminology capabilities\r\n* [ValueSet](valueset.html): Name of the publisher of the value set"
          schema:
            type: string
        - name: _profile
          in: query
          description: Profiles this resource claims to conform to
          schema:
            type: string
        - name: url
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The uri that identifies the capability statement\r\n* [CodeSystem](codesystem.html): The uri that identifies the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The uri that identifies the compartment definition\r\n* [ConceptMap](conceptmap.html): The uri that identifies the concept map\r\n* [GraphDefinition](graphdefinition.html): The uri that identifies the graph definition\r\n* [ImplementationGuide](implementationguide.html): The uri that identifies the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The uri that identifies the message definition\r\n* [OperationDefinition](operationdefinition.html): The uri that identifies the operation definition\r\n* [SearchParameter](searchparameter.html): The uri that identifies the search parameter\r\n* [StructureDefinition](structuredefinition.html): The uri that identifies the structure definition\r\n* [StructureMap](structuremap.html): The uri that identifies the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The uri that identifies the terminology capabilities\r\n* [ValueSet](valueset.html): The uri that identifies the value set"
          schema:
            type: string
        - name: resource
          in: query
          description: Name of a resource mentioned in a capability statement
          schema:
            type: string
        - name: mode
          in: query
          description: Mode - restful (server/client) or messaging (sender/receiver)
          schema:
            type: string
        - name: context-type-value
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A use context type and value assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A use context type and value assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and value assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A use context type and value assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A use context type and value assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A use context type and value assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A use context type and value assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A use context type and value assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A use context type and value assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A use context type and value assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A use context type and value assigned to the structure definition\r\n* [StructureMap](structuremap.html): A use context type and value assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and value assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A use context type and value assigned to the value set"
          schema:
            type: string
        - name: jurisdiction
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): Intended jurisdiction for the capability statement\r\n* [CodeSystem](codesystem.html): Intended jurisdiction for the code system\r\n* [ConceptMap](conceptmap.html): Intended jurisdiction for the concept map\r\n* [GraphDefinition](graphdefinition.html): Intended jurisdiction for the graph definition\r\n* [ImplementationGuide](implementationguide.html): Intended jurisdiction for the implementation guide\r\n* [MessageDefinition](messagedefinition.html): Intended jurisdiction for the message definition\r\n* [NamingSystem](namingsystem.html): Intended jurisdiction for the naming system\r\n* [OperationDefinition](operationdefinition.html): Intended jurisdiction for the operation definition\r\n* [SearchParameter](searchparameter.html): Intended jurisdiction for the search parameter\r\n* [StructureDefinition](structuredefinition.html): Intended jurisdiction for the structure definition\r\n* [StructureMap](structuremap.html): Intended jurisdiction for the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): Intended jurisdiction for the terminology capabilities\r\n* [ValueSet](valueset.html): Intended jurisdiction for the value set"
          schema:
            type: string
        - name: context-type
          in: query
          description: "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A type of use context assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A type of use context assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A type of use context assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A type of use context assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A type of use context assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A type of use context assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A type of use context assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A type of use context assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A type of use context assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A type of use context assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A type of use context assigned to the structure definition\r\n* [StructureMap](structuremap.html): A type of use context assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A type of use context assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A type of use context assigned to the value set"
          schema:
            type: string
        - name: security-service
          in: query
          description: OAuth | SMART-on-FHIR | NTLM | Basic | Kerberos | Certificates
          schema:
            type: string
        - name: _source
          in: query
          description: Identifies where the resource comes from
          schema:
            type: string
        - name: _tag
          in: query
          description: Tags applied to this resource
          schema:
            type: string
        - name: context-type-quantity
          in: query
[...]
