<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fhir-service-event-export-combined.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/df479416-a3f3-42b4-97ab-0a0a2b788ba3/resourceGroups/cdc-dmi-dev-rg-eastus/providers/Microsoft.Web/sites/fhir-service-event-export-combined</ResourceId>
    <UserName>$fhir-service-event-export-combined</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fhir-service-event-export-combined.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>